banner login ^
Decathlon CZ Networking Services
 
Access to this device or the attached networks is prohibited without express written permission.
 
Any unauthorized access or use of this system is prohibited. Activities on this system are
monitored and recorded and subject to audit. Use of this system is expressed consent to such 
monitoring and recording.
 
 
Violators will be prosecuted to the fullest extent of both civil and criminal law.
 
 
 
*** UNAUTHORIZED ACCESS PROHIBITED ***
 
 
 
^