username bartosik privilege 15 secret 5 $1$VAyD$BErrqaWDoLDSiSFw6zFro1
username netcraftnms privilege 15 secret 9 $9$u5hwC/EonhG4rw$xixHXDwFWCnO0n2oHf7dHgxz.UdI8WpCBSMCtX8Z/Kg
username admin privilege 15 secret 9 $9$/aMTszLWjClTIJ$jjSnkgjUZITXHJg25kl9nQIERpK5Eo7dxeU35Y0EPDY
aaa new-model
!
aaa authentication login default local
aaa authorization login default local
!
aaa session-id common