{% for interface in device.interfaces.all() %} 
{% if interface.mgmt_only == false %}
interface {{ interface.name }} 
{% if interface.enabled == false %}
 shutdown 
{% elif interface.enabled == true %}
 no shutdown 
{% endif %}
{% if interface.mode == "access" %}
 switchport mode access
 switchport access vlan {{ interface.untagged_vlan.vid }} 
{% elif interface.mode == "tagged" %} 
 switchport mode trunk 
{% set vlanlist = [] %}{% for vlan in interface.tagged_vlans.all() %}{{ vlanlist.append(vlan.vid) or "" }}{% endfor %}
{% set normalized_vlan = vlanlist | vlan_parser %}
 switchport trunk allowed vlan {{ normalized_vlan[0] }}
{% for list in normalized_vlan[1::] -%}
switchport trunk allowed vlan add {{ list }}
{%- endfor %}
{% elif "tagged-all" in interface.mode %}
 switchport mode trunk 
 switchport trunk allowed vlan all
{% else %}
{% if interface.lag != None %}
 channel-group {% for char in interface.lag.name %}{%- if char.isdigit() %}{{ char }}{% endif %}{% endfor %} mode on 
{% endif %}
{% endif %}
{% else %} interface {{ interface.name }} 
 description Management VLAN 
{% if interface.enabled == false %} 
 shutdown 
{% elif interface.enabled == true %} 
 no shutdown 
{% endif %} 
 ip address {{ device.primary_ip.address.ip }} {{ device.primary_ip.address.netmask }}
{% endif %}
{% endfor %}