hostname {{ device.name }}

{% include 'config-templates/common/base_vlans.j2' %}

{% include 'config-templates/common/base_aaa.j2' %}

{% include 'config-templates/common/base_syslog.j2' %}

{% include 'config-templates/common/base_banners.j2' %}

{% include 'config-templates/common/base_ntp.j2' %}
!
end